.git
.gitignore
.env
.venv
venv/
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.coverage
htmlcov
metastore_db
derby.log
spark-warehouse
data/raw/*
!data/raw/.gitkeep
data/bronze/*
!data/bronze/.gitkeep
data/silver/*
!data/silver/.gitkeep
data/gold/*
!data/gold/.gitkeep
data/quarantine/*
!data/quarantine/.gitkeep
logs/*
